h1,h2,h3,h4,h5,h6{
    font-family: 'Spartan', sans-serif;
}
/* Begin-Custom-CSS */
.main-header{
    background-color: #e0e0e0;
}
.main-header .navbar-brand img{
    width: 100px;
}
/* Menu */
.our-primary-menu li a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #4a4b52;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    position: relative;
}
.our-primary-menu li a::after {
    content: "";
    position: absolute;
    top: 142%;
    left: 27px;
    height: 3px;
    width: 0px;
    background-color: #3763eb;
    transform-origin: left;
    transition: .4s;
}
.our-primary-menu li a:hover{
    color:#3763eb ;
}
.our-primary-menu li a:hover::after{
    width: 32px;
}
/* Dropdown-menu */
.our-primary-menu li{
    position: relative;
}
.our-primary-menu li ul{
    position: absolute;
    top: 180%;
    left: 0;
    width: 250px;
    background-color: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1); 
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.our-primary-menu li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 150%;
}
.our-primary-menu li ul li{
    background: #3763eb;
}
/* Create-Default-btn */
.header-button .btn-primary {
    background: #fff;
    color: #0d6efd;
    border-color: #fff;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.header-button .btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #111;
    border-radius: 25px 25px;
    z-index: -1;
    transform-origin: left;
    transition:all .4s ease-in-out;
}
.header-button .btn-primary:hover::after{
    width: 100%;
}
/* Slider-section */
.slider-section{
    background-color: #f6f9fc;
}
.col-lg-8 img {
    border-radius: 50% 0 50% 50%;
    margin-left: 117px;
}
.slider-content h1 {
    font-size: 34px;
    font-weight: 700;
}
.slider-content p{
    font-size: 16px;
}
.slider-content a {
    padding: 10px 30px;
}